<div class="wrapper">
  <section class="description">
    <p class="description__sm animated delay-3">Hello!</p>
    <p class="description__md animated delay-2">I'<span class="description__char">m</span> Mateusz</p>
    <p class="description__lg animated delay-1">Front-end dev</p>
    <p class="description__sm animated delay-3">Click, if you want to see</p>
    <p class="description__sm animated delay-4">the rest of my</p>
  </section>
  <section class="main-page-column">
    <a class="btn animated" href="https://mateuszjs.github.io/">
      <span class="btn__content">Works</span>
    </a>
  </section>
</div>